# here using to slove the Univariate Analysis

In [1]:
import pandas as pd
import numpy as np

In [5]:
Univariate_data = pd.read_csv('4th Sem Attendance .csv')
Univariate_data.sample(5)
# here using the sample data (sample mean ----> random data form dataframe)

,BRCM COLLEGE OF ENGINEERING & TECHNOLOGY,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
68,22-CSE-4988,UDIT,2210031036,6,25,2,8.33,8,36.36,0,...,27.27,1,8.33,0,0,0,0,0,29,19.08
9,22-CSE-4925,ADITI,2210031107,22,91.67,22,91.67,20,90.91,4,...,95.45,8,66.67,4,50,0,0,0,128,82.05
38,22-CSE-4932,MUSKAN,2210031022,17,70.83,18,75,20,90.91,4,...,77.27,7,58.33,8,100,0,0,0,115,73.72
31,22-CSE-4961,MANAS KUMAR ARJYA,2210031124,15,62.5,13,54.17,13,59.09,4,...,63.64,8,66.67,8,100,0,0,0,95,60.9
11,22-CSE-4944,AMRENDER KUMAR,2210031015,22,91.67,22,91.67,18,81.82,4,...,100,10,83.33,8,100,0,0,0,135,86.54