In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split 

from sklearn.impute import KNNImputer,SimpleImputer 
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('train.csv',usecols=['Age','Pclass','Fare','Survived'])

In [3]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [4]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [5]:
x = df.drop(columns =['Survived'],axis = 1)
y = df['Survived']

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 2)

In [7]:
x_train.head()

     Pclass   Age     Fare
30        1  40.0  27.7208
10        3   4.0  16.7000
873       3  47.0   9.0000
182       3   9.0  31.3875
876       3  20.0   9.8458

In [24]:
knn = KNNImputer(n_neighbors=3,weights='distance')

x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

In [9]:
x_train_trf

array([[  1.    ,  40.    ,  27.7208],
       [  3.    ,   4.    ,  16.7   ],
       [  3.    ,  47.    ,   9.    ],
       ...,
       [  1.    ,  71.    ,  49.5042],
       [  1.    ,  33.6   , 221.7792],
       [  1.    ,  42.8   ,  25.925 ]])

In [10]:
x_test_trf

array([[  1.    ,  42.    ,  26.2875],
       [  3.    ,  21.    ,   8.05  ],
       [  2.    ,  24.    ,  65.    ],
       [  3.    ,  28.    ,  56.4958],
       [  3.    ,  17.    ,   7.925 ],
       [  3.    ,  30.    ,   7.8958],
       [  1.    ,  80.    ,  30.    ],
       [  3.    ,  25.    ,   7.25  ],
       [  1.    ,  50.    , 133.65  ],
       [  2.    ,  25.    ,  26.    ],
       [  2.    ,  35.    ,  26.    ],
       [  1.    ,  35.    ,  90.    ],
       [  2.    ,  55.    ,  16.    ],
       [  3.    ,  37.6   ,  56.4958],
       [  3.    ,  37.6   ,  56.4958],
       [  3.    ,  19.    ,   7.8542],
       [  3.    ,  29.2   ,  15.2458],
       [  3.    ,  49.    ,   0.    ],
       [  3.    ,  18.    ,  14.4542],
       [  3.    ,  65.    ,   7.75  ],
       [  1.    ,  18.    , 108.9   ],
       [  3.    ,  22.8   ,  22.3583],
       [  3.    ,  16.    ,  18.    ],
       [  3.    ,  21.    ,   9.825 ],
       [  3.    ,  19.    ,   6.75  ],
       [  3.    ,   1.    ,  11.1333],
       [  2.    ,  50.    ,  10.5   ],
       [  1.    ,  37.    ,  53.1   ],
       [  3.    ,  28.    ,   9.5   ],
       [  2.    ,  54.    ,  14.    ],
       [  3.    ,  20.    ,   7.925 ],
       [  3.    ,  36.    ,   0.    ],
       [  3.    ,   6.    ,  31.275 ],
       [  1.    ,  40.2   ,  50.    ],
       [  1.    ,  40.    ,  31.    ],
       [  3.    ,  26.    ,  16.1   ],
       [  1.    ,  30.    ,  93.5   ],
       [  3.    ,   1.    ,  46.9   ],
       [  3.    ,  28.2   ,   7.8958],
       [  2.    ,  35.    ,  10.5   ],
       [  3.    ,  38.    ,   7.05  ],
       [  3.    ,  44.    ,  16.1   ],
       [  3.    ,  22.    ,   7.75  ],
       [  3.    ,  18.    ,   6.4958],
       [  3.    ,  21.    ,   8.4333],
       [  1.    ,  33.6   , 227.525 ],
       [  1.    ,  21.    ,  77.9583],
       [  3.    ,  27.2   ,   8.6625],
       [  3.    ,  22.    ,   7.225 ],
       [  2.    ,  27.    ,  10.5   ],
       [  3.    ,  31.8   ,   8.05  ],
       [  1.    ,  51.    ,  26.55  ],
       [  2.    ,  28.    ,  33.    ],
       [  1.    ,  47.    ,  38.5   ],
       [  2.    ,  32.    ,  10.5   ],
       [  1.    ,  48.    ,  52.    ],
       [  3.    ,  10.    ,  24.15  ],
       [  3.    ,  21.    ,   8.6625],
       [  3.    ,  51.    ,   7.0542],
       [  3.    ,  32.    ,   7.925 ],
       [  2.    ,  42.    ,  13.    ],
       [  2.    ,   2.    ,  26.    ],
       [  3.    ,  35.    ,   8.05  ],
       [  3.    ,  28.4   ,   7.25  ],
       [  3.    ,   2.    ,  10.4625],
       [  3.    ,  33.    ,   9.5   ],
       [  1.    ,  48.    ,  25.9292],
       [  1.    ,  55.    ,  30.5   ],
       [  3.    ,   1.    ,  39.6875],
       [  3.    ,  17.    ,   7.0542],
       [  3.    ,  24.    ,  15.85  ],
       [  3.    ,  74.    ,   7.775 ],
       [  3.    ,  30.2   ,  24.15  ],
       [  3.    ,  28.    ,   7.7958],
       [  3.    ,  26.    ,   7.8542],
       [  2.    ,   1.    ,  39.    ],
       [  3.    ,  18.    ,   8.05  ],
       [  2.    ,   3.    ,  26.    ],
       [  1.    ,  48.    ,  39.6   ],
       [  3.    ,  32.    ,  56.4958],
       [  1.    ,  19.    ,  91.0792],
       [  1.    ,  17.4   ,  42.4   ],
       [  2.    ,  70.    ,  10.5   ],
       [  2.    ,  34.    ,  26.    ],
       [  1.    ,  39.    , 110.8833],
       [  2.    ,  17.    ,  10.5   ],
       [  3.    ,  38.    ,   8.6625],
       [  3.    ,  28.2   ,   7.8958],
       [  2.    ,  30.    ,  21.    ],
       [  2.    ,  28.    ,  13.    ],
       [  3.    ,  32.6   ,   7.725 ],
       [  3.    ,  19.    ,   8.1583],
       [  3.    ,  29.    ,   7.75  ],
       [  3.    ,  28.2   ,   7.8958],
       [  3.    ,  44.    ,   7.925 ],
       [  2.    ,  22.    ,  41.5792],
       [  3.    ,  21.    ,  34.375 ],
       [  2.    ,  41.    ,  19.5   ],
       [  3.    ,  31.1   ,   7.225 ],
       [  1.    ,  25.    ,  55.4417],
       [  1.    ,   0.92  , 151.55  ],
       [  2.    ,  44.    ,  26.    ],
       [  2.    ,  19.    ,  26.    ],
       [  1.    ,  30.    ,  56.9292],
       [  3.    ,  20.    ,   9.5   ],
       [  3.    ,   5.    ,  12.475 ],
       [  2.    ,   4.    ,  39.    ],
       [  3.    ,  18.3   ,  16.1   ],
       [  1.    ,  38.    ,   0.    ],
       [  3.    ,  28.    ,  22.525 ],
       [  1.    ,  36.6   ,  30.    ],
       [  3.    ,  29.    ,   7.775 ],
       [  1.    ,  49.    ,  89.1042],
       [  3.    ,  19.    ,  14.5   ],
       [  1.    ,  18.    , 262.375 ],
       [  2.    ,  31.    ,  26.25  ],
       [  3.    ,  27.    ,   7.7958],
       [  1.    ,  36.    , 120.    ],
       [  2.    ,   8.    ,  36.75  ],
       [  3.    ,   2.    ,  21.075 ],
       [  1.    ,  63.    ,  77.9583],
       [  3.    ,  31.    ,   7.75  ],
       [  2.    ,  28.6   ,   0.    ],
       [  2.    ,  25.    ,  13.    ],
       [  3.    ,  20.5   ,   7.25  ],
       [  3.    ,  28.2   ,   7.8958],
       [  1.    ,  64.    , 263.    ],
       [  2.    ,  19.    ,  26.    ],
       [  3.    ,  18.    ,   7.775 ],
       [  2.    ,  28.6   ,   0.    ],
       [  3.    ,  28.2   ,   7.8958],
       [  3.    ,  11.    ,  18.7875],
       [  3.    ,  15.    ,  14.4542],
       [  1.    ,  22.    ,  55.    ],
       [  2.    ,  50.    ,  13.    ],
       [  3.    ,  28.    ,  14.4   ],
       [  2.    ,  39.    ,  13.    ],
       [  3.    ,  31.8   ,   8.05  ],
       [  3.    ,  39.    ,   7.925 ],
       [  3.    ,  24.    ,  16.1   ],
       [  3.    ,  23.    ,   7.925 ],
       [  1.    ,  17.    ,  57.    ],
       [  2.    ,  44.    ,  26.    ],
       [  2.    ,  23.    ,  13.7917],
       [  1.    ,  52.4   ,  26.55  ],
       [  1.    ,  52.    ,  78.2667],
       [  3.    ,  24.5   ,   8.05  ],
       [  3.    ,  55.5   ,   8.05  ],
       [  3.    ,  18.    ,   7.7958],
       [  2.    ,  18.    ,  13.    ],
       [  1.    ,  45.    ,  83.475 ],
       [  3.    ,  31.    ,  18.    ],
       [  3.    ,  30.5   ,   8.05  ],
       [  3.    ,  42.    ,   8.4042],
       [  3.    ,  43.7   ,   7.75  ],
       [  3.    ,  36.    ,   7.4958],
       [  1.    ,  34.    ,  26.55  ],
       [  1.    ,  54.    ,  78.2667],
       [  3.    ,  15.    ,   8.0292],
       [  3.    ,  25.    ,   7.775 ],
       [  1.    ,  26.    ,  30.    ],
       [  3.    ,  38.2   ,   8.1125],
       [  3.    ,  19.    ,   8.05  ],
       [  3.    ,  29.    ,   7.8958],
       [  1.    ,  19.    ,  30.    ],
       [  1.    ,  33.    ,  90.    ],
       [  3.    ,  36.    ,  24.15  ],
       [  3.    ,  20.6   ,   7.775 ],
       [  1.    ,  35.    , 512.3292],
       [  3.    ,  22.    ,   7.25  ],
       [  3.    ,  18.3   ,  16.1   ],
       [  3.    ,  18.    ,   7.4958],
       [  2.    ,  28.    ,  26.    ],
       [  3.    ,  22.    ,   7.25  ],
       [  3.    ,  24.    ,   8.05  ],
       [  3.    ,  22.    ,   9.    ],
       [  3.    ,  38.4   ,  69.55  ],
       [  3.    ,  26.    ,   7.8958],
       [  3.    ,  29.    ,  10.4625]])

In [22]:
pd.DataFrame(x_train_trf,columns=x_train.columns)

     Pclass        Age      Fare
0       1.0  40.000000   27.7208
1       3.0   4.000000   16.7000
2       3.0  47.000000    9.0000
3       3.0   9.000000   31.3875
4       3.0  20.000000    9.8458
..      ...        ...       ...
707     3.0  30.000000    8.6625
708     3.0  24.444898    8.7125
709     1.0  71.000000   49.5042
710     1.0  31.120830  221.7792
711     1.0  49.136516   25.9250

[712 rows x 3 columns]

In [25]:
lr = LogisticRegression()

lr.fit(x_train_trf,y_train)

y_pred = lr.predict(x_test_trf)

accuracy_score(y_test,y_pred)

0.7150837988826816

In [27]:
# comparision with Simple Imputer ---> maen

si = SimpleImputer()

x_train_trf = si.fit_transform(x_train)

x_test_trf = si.transform(x_test)

In [28]:
lr = LogisticRegression()

lr.fit(x_train_trf,y_train)

y_pred = lr.predict(x_test_trf)

accuracy_score(y_test,y_pred)

0.6927374301675978